.search-results {
    padding: 20px;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
  }

.item-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.item-card h4 {
    margin: 10px 0 5px;
}

.item-card p {
    margin: 5px 0;
}

.price {
    color: #007bff;
    font-weight: bold;
}
